input,
textarea {
    margin: 0px;
    display: block;
    border: solid 0.5px;
    width: 100%;
    border-radius: 8px;
}

textarea {
    resize: none;
    block-size: 150px;
    height: 35px;
}

textarea::-webkit-scrollbar {
    display: none;
}

.container {
    background-image: url(https://img.freepik.com/foto-gratis/ingredientes-pizza-casera_35641-2533.jpg?w=2000);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container__wrapper {
    margin: 40px 0px;
    width: 1080px;
    height: 760px;
    display: grid;
    grid-template-columns: 540px 540px;
    border-radius: 15px;
    background-color: #2f785c85
}

.container__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container__img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgba(216, 86, 79, 0), white), url("https://i1.adis.ws/i/canon/pro-inside-professional-food-photography-1_46a998f373b44dc583ee52d9448ece04?$media-collection-full-dt-jpg$");
    border-radius: 15px 0px 0px 15px;
}

.container__divForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 85px;
    width: 480px;
}

.container__divDietTypes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 200px;
    width: 480px;
}

.wrapper__form {
    background-image: linear-gradient(to left, #2f785c85, white);
    border-radius: 0px 15px 15px 0px;
}

.container__divTypes {
    display: grid;
    grid-template-columns: 220px 220px;
}

.container__message {
    height: 85px;
    width: 480px;
}

.divForm__button {
    width: 120px;
    height: 40px;
    background-color: #2c856240;
}

.divForm__span {
    background-color: rgb(146 237 146 / 57%);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

.divTypes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.divTypes input {
    resize: none;
    width: 30px;
}

.div__error {
    margin: 0px;
    color: rgb(252, 58, 58);
}