.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container__recipes {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
 }