h3 {
    width: 360px;
    height: 70px;
}

.recipe {
    margin: 1.5rem;
    min-width: 360px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: solid 2px rgb(231 118 118 / 38%);
    border-radius: 20px;
    box-shadow: 5px 5px rgb(195 131 131 / 16%);
}

.recipe:hover {
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.recipe__dietTypes {
    width: 360px;
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}